/*  GLOBALES  */
/* Variables */
:root {
    --fuente-principal: 'Roboto', sans-serif;
    --primario: #e8505b;
    --secundario: #455a64;
    --negro: #000;
    --blanco: #ffffff;
    --gris-claro: #eceeef;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

p {
    color: #000;
    font-size: 2rem;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

/*  HEADER  */
.header {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    align-items: center;
}

.header__logo {
    width: 30rem;
    margin-bottom: 0;
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: auto;
}

.navegacion__link {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}

.navegacion__link--registrar {
    background-color: #e8505b;
    color: #ffffff;
    font-size: 2rem;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: none;
}

/* SECCIÓN FORMULARIO */

.formulario__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.formulario__contenido {
    background-color: #e8505b;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formulario__heading {
    color: #ffffff;
    text-align: center;
}

.formulario__campo {
    margin-bottom: 1rem;
}

.formulario__label {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    margin: 1rem 0;
}

.formulario__input {
    width: 100%;
    padding: 1.5rem;
    border: none;
}

.formulario__button {
    margin-top: 2rem;
    background-color: #455a64;
    color: #ffffff;
    width: 100%;
    font-size: 2rem;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    border: none;
}

.formulario__imagen-contenedor {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.formulario__imagen {
    width: 100%;
}

/*   SECCION PASOS   */
.pasos {
    margin-top: 5rem;
}

.pasos__contenido {
    background-color: #e8505b;
    padding-top: 50px;
}

.pasos__heading {
    text-align: center;
    color: #ffffff;
}

.pasos__heading--descripcion {
    font-size: 1.8rem;
    display: block;
}

.pasos__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*   FOOTER   */
.footer {
    background-color: #455a64;
    padding-top: 5rem;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__widget {
    margin-bottom: 5rem;
}

.footer__widget:last-of-type {
    margin-bottom: 0;
}

.footer__heading {
    color: #ffffff;
    margin: 0;
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__nav,
.footer__texto {
    margin-top: 2rem;
}

.footer__link,
.footer__texto {
    font-size: 2rem;
    line-height: 1.8;
    color: #ffffff;
    width: 370px;
}

.footer__copyright {
    background-color: #e8505b;
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
}